@using MovieCraft.Shared.DTOs
@using Microsoft.AspNetCore.Components

<div class="card">
    <img src="@($"{imagePath}{Movie.PosterPath}")" class="card-img-top" alt="@Movie.Title" />
    <div class="card-body">
        <h5 class="card-title">@Movie.Title</h5>
        <p class="card-text">@Movie.Overview</p>
        <p class="card-text"><small class="text-muted">Release Date: @Movie.ReleaseDate?.ToShortDateString()</small></p>
    </div>
</div>

@code {
    [Parameter]
    public MovieDto Movie { get; set; } = new MovieDto();

    private string imagePath = "https://image.tmdb.org/t/p/w500";
}
