@page "/popular-movies"
@using MovieCraft.Shared.DTOs
@implements IDisposable
@inject PopularMoviesState PopularMoviesState

<h3>Popular Movies</h3>

@if (movies == null)
{
    <p>Loading movies...</p>
}
else if (!movies.Any())
{
    <p>No popular movies found.</p>
}
else
{
    <div class="movies-grid">
        @foreach (var movie in PopularMoviesState.PopularMovies!)
        {
            <div class="movie-card">
                <img src="@($"https://image.tmdb.org/t/p/w500{movie.PosterPath}")" alt="@movie.Title" class="movie-poster" />
                <div class="movie-details">
                    <h4>@movie.Title</h4>
                    <p class="release-date">@movie.ReleaseDate?.ToShortDateString()</p>
                    <p class="movie-overview">@movie.Overview</p>
                </div>
            </div>
        }
    </div>
}



@code {
    private IEnumerable<MovieDto>? movies;

    protected override void OnInitialized()
    {
        movies = PopularMoviesState.PopularMovies;

        PopularMoviesState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        PopularMoviesState.OnChange -= StateHasChanged;
    }
}
