<div class="movie-card" @onclick="() => FlipCard(Movie.TmdbId)">
    <div class="movie-card-inner @(IsFlipped ? "flipped" : "")">
        <div class="movie-card-front">
            @if (!string.IsNullOrEmpty(Movie.PosterPath))
            {
                <img src="@ImageHelper.GetPosterUrl(Movie.PosterPath)" alt="@Movie.Title" />
            }
            else
            {
                <img src="images/cinema.jpg" alt="No Image Available" />
            }
        </div>

        <div class="movie-card-back">
            <h2>@(string.IsNullOrEmpty(Movie.Title) ? "Unknown Title" : Movie.Title)</h2>
            <p>Release Date: @(Movie.ReleaseDate?.ToString("dd.MM.yyyy") ?? "Unknown")</p>
            <div class="button-group">
                <button @onclick:stopPropagation="true"
                        @onclick="() => AddToFavorites(Movie.TmdbId)"
                        class="btn-favorite"
                        aria-label="Add to Favorites">
                    <i class="bx bx-heart"></i>Favorites
                </button>

                <button @onclick:stopPropagation="true"
                        @onclick="() => OnWatchTrailer.InvokeAsync(Movie.TmdbId)"
                        class="btn-trailer"
                        aria-label="Watch Trailer">
                    <i class="bx bx-play-circle"></i>Trailer
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool IsFlipped => FlippedMovieId == Movie.TmdbId;

    [Parameter]
    public MovieDto Movie { get; set; } = default!;

    [Parameter]
    public EventCallback<int> OnAddToFavorites { get; set; }

    [Parameter]
    public int? FlippedMovieId { get; set; }

    [Parameter]
    public EventCallback<int> OnWatchTrailer { get; set; }

    private void FlipCard(int movieId)
    {
        FlippedMovieId = FlippedMovieId == movieId ? (int?)null : movieId;
    }

    private async Task AddToFavorites(int tmdbId)
    {
        await OnAddToFavorites.InvokeAsync(tmdbId);
    }
}
