<div class="movie-card" @onclick="() => FlipCard(Movie.TmdbId)">
    <div class="movie-card-inner @(IsFlipped ? "flipped" : "")">
        <div class="movie-card-front">
            @if (!string.IsNullOrEmpty(Movie.PosterPath))
            {
                <img src="@ImageHelper.GetPosterUrl(Movie.PosterPath)" alt="@Movie.Title" />
            }
            else
            {
                <img src="images/default-poster.png" alt="No Image Available" />
            }
        </div>
        <!-- Back of the card -->
        <div class="movie-card-back">
            <h2>@(string.IsNullOrEmpty(Movie.Title) ? "Unknown Title" : Movie.Title)</h2>
            <p>Release Date: @(Movie.ReleaseDate?.ToString("dd.mm.yyyy") ?? "Unknown")</p>
            <button @onclick:stopPropagation="true"
                    @onclick="() => AddToFavorites(Movie.TmdbId)"
                    aria-label="Add to Favorites">
                <i class="bx bx-heart"></i> Add to Favorites
            </button>
        </div>
    </div>
</div>

@code {
    private bool IsFlipped => FlippedMovieId == Movie.TmdbId;

    [Parameter]
    public MovieDto Movie { get; set; } = default!;

    [Parameter]
    public EventCallback<int> OnAddToFavorites { get; set; }

    [Parameter]
    public int? FlippedMovieId { get; set; }

    private void FlipCard(int movieId)
    {
        FlippedMovieId = FlippedMovieId == movieId ? (int?)null : movieId;
    }

    private async Task AddToFavorites(int tmdbId)
    {
        await OnAddToFavorites.InvokeAsync(tmdbId);
    }

}